<div class="row">
  <div class="col-xs-12">
    <h3>Labels</h3>
    <table class="table">
      <tbody>
        <% @labels.each do |label| %>
          <tr>
            <%= render label %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
