<div class='row'>
  <div class='col-xs-12'>
    <% content_for :title do %>About<% end %>
    <h3>About the Website</h3>
    <p>This is a demo app hosted on Heroku. It was created by Xander Miller.</p>
    <p>It demonstrates a simple many to many relation in Rails. The app has users and labels. Multiple labels can be applied to a user.</p>
    <p>
      This web application was built with
      <%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
      from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
    </p>
  </div>
</div>
